In [6]:
import pandas as pd

file = 'vine_table.csv'
vine = pd.read_csv(file)
vine

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
0,R25DCNUJB4KVUD,5,0,0,N,Y
1,R2PS2RPJ798X30,5,0,0,N,Y
2,R767DG7MICNBR,5,0,0,N,Y
3,R3H0498LO0CGNS,2,1,1,N,N
4,R1WFD7QKJFHIVT,5,0,0,N,N
...,...,...,...,...,...,...
960867,RAQEH2IRMSY8X,2,1,3,N,N
960868,R2PTM88WGQ2ZTJ,5,5,5,N,Y
960869,R1WS5PEQQUJ79A,4,2,2,N,Y
960870,R2NKYPKQKAQ37M,4,1,1,N,N
960871,R22EKVPC0EZWQC,5,0,0,N,N

In [7]:
vine = vine.loc[vine['total_votes'] >= 20]

In [8]:
vine

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
904,R3CYPSUGK0YW67,4,36,36,N,N
905,R3NETMILJWN0GT,1,24,27,N,Y
1106,R14W2VCHHK5V7W,5,19,20,N,Y
1180,R1S3T57O3OYT5S,5,19,20,N,Y
1519,R1BTWIBLYYVOV7,5,30,30,N,Y
...,...,...,...,...,...,...
960817,R3BNGHTRMJKVWO,1,9,20,N,Y
960828,R35CBZXC5QA09W,5,22,22,N,N
960844,R70RL2WM7KZMV,1,8,36,N,N
960849,RPAGDWQNTDX6A,5,39,41,N,N
960863,R9IWNW8AM59W1,3,45,46,N,N

In [10]:
vine_filtered = vine.loc[vine['helpful_votes'] / vine['total_votes'] >= 0.5]
vine_filtered

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
904,R3CYPSUGK0YW67,4,36,36,N,N
905,R3NETMILJWN0GT,1,24,27,N,Y
1106,R14W2VCHHK5V7W,5,19,20,N,Y
1180,R1S3T57O3OYT5S,5,19,20,N,Y
1519,R1BTWIBLYYVOV7,5,30,30,N,Y
...,...,...,...,...,...,...
960778,R2RSLTQXPN5OBB,5,44,46,N,N
960808,R3RRCTVG9ORD95,5,41,43,N,N
960828,R35CBZXC5QA09W,5,22,22,N,N
960849,RPAGDWQNTDX6A,5,39,41,N,N
960863,R9IWNW8AM59W1,3,45,46,N,N

In [11]:
paid_reviews = vine_filtered.loc[vine_filtered['vine'] == 'Y']
paid_reviews

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
8150,R1B7M0OP3UNP6O,5,49,52,Y,N
36606,R9K0LZV2BK9YY,4,37,39,Y,N
132923,R2OVFLNEUEGTJM,3,18,25,Y,N
506379,RBE09ELJ77LQ0,5,44,45,Y,N
506483,R3867T8AIJJHM6,5,26,27,Y,N
518464,R1FNVUXPU63WOZ,4,43,48,Y,N
528905,R25XGG2G12SE1Z,4,20,23,Y,N
528941,R3JKU4HRDFZDH,4,27,30,Y,N
528992,R2PQYOCJXRB1BF,5,26,28,Y,N
543251,R1JBQ8UBLA8N4X,4,349,370,Y,N
547362,R2I01ZYMO0GYP1,4,107,121,Y,N
553312,R297GF8EF7AXPO,2,22,30,Y,N
555240,R2OFG89WKPLHGU,5,54,60,Y,N
556322,R13PI8O4697CEV,4,135,144,Y,N
568288,R223MX62JYWUOY,4,20,21,Y,N
572719,RTSXZ0HZF623M,3,13,22,Y,N
658560,R1OB4GCKEYGV9I,4,61,90,Y,N
668928,R2UUV4UGGYMQG8,5,34,39,Y,N
750015,R1YBNRRUD5WCG4,5,15,20,Y,N
752776,R3L4Z6NK2Z4OV5,2,24,33,Y,N
753701,R3LRMV7GANS3MX,3,40,50,Y,N
788968,R2I8W8DX6YIDVK,3,22,26,Y,N
789580,R33Y1P0VTKF46V,5,18,22,Y,N
823873,R2VUWQQBXC9MW9,5,47,51,Y,N
847396,R2PGKWCC0DJNO4,5,23,24,Y,N
848761,R2B8V45UKGS96Q,4,25,26,Y,N
854887,R1VTSAJEQNFBJE,4,23,29,Y,N
856362,R3HDDNR7XJ5PG6,4,29,31,Y,N
856437,R1GI7VUS1L7NWF,4,17,22,Y,N
858242,R2MEXGFT2R9U1D,4,32,36,Y,N
859608,R1VPI6UTL1K31V,5,27,29,Y,N
859654,R131OFSBT1U9QT,4,54,68,Y,N
860816,RMEMUGWUX63KU,5,34,36,Y,N
861299,R3OWVKWQASMEUR,3,38,41,Y,N
861351,R23JRHQ7CL6T6Y,2,19,21,Y,N
863353,RTU8HCIK1EFSJ,4,18,20,Y,N
867699,R39Q51GM18UUKP,4,18,20,Y,N
868294,RQ0VM79JA4P5C,4,19,22,Y,N
868612,REZLEYIW61ZA1,1,26,29,Y,N
868649,R1BUGLZDTZKIHY,4,79,82,Y,N
871159,RPEOU3CJEX7BZ,4,21,24,Y,N
871412,R1ZZVRDZ4GOH54,3,81,92,Y,N
871671,R27BTNRK8JK7U5,3,16,20,Y,N
872236,R2UGJVWDAPAFN3,1,24,27,Y,N
872386,R3TZBND29248V0,5,66,71,Y,N
877627,R5G8T9UNLDU5A,5,44,44,Y,N
879208,R33HPSRJ5K3RHP,5,19,22,Y,N

In [12]:
unpaid_reviews = vine_filtered.loc[vine_filtered['vine'] == 'N']
unpaid_reviews

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
904,R3CYPSUGK0YW67,4,36,36,N,N
905,R3NETMILJWN0GT,1,24,27,N,Y
1106,R14W2VCHHK5V7W,5,19,20,N,Y
1180,R1S3T57O3OYT5S,5,19,20,N,Y
1519,R1BTWIBLYYVOV7,5,30,30,N,Y
...,...,...,...,...,...,...
960778,R2RSLTQXPN5OBB,5,44,46,N,N
960808,R3RRCTVG9ORD95,5,41,43,N,N
960828,R35CBZXC5QA09W,5,22,22,N,N
960849,RPAGDWQNTDX6A,5,39,41,N,N
960863,R9IWNW8AM59W1,3,45,46,N,N

In [14]:
paid_reviews_count = paid_reviews['review_id'].count()
paid_reviews_count

47

In [15]:
unpaid_reviews_count = unpaid_reviews['review_id'].count()
unpaid_reviews_count

8362

In [22]:
paid_5star_reviews = paid_reviews.loc[paid_reviews['star_rating'] == 5]
paid_5star_reviews_count = paid_5star_reviews['star_rating'].count()
paid_5star_reviews_count

15

In [23]:
unpaid_5star_reviews = unpaid_reviews.loc[unpaid_reviews['star_rating'] == 5]
unpaid_5star_reviews_count = unpaid_5star_reviews['star_rating'].count()
unpaid_5star_reviews_count

4332

In [26]:
paid_5star_per = str(round(((paid_5star_reviews_count / paid_reviews_count)*100),1)) + '%'
paid_5star_per

'31.9%'

In [27]:
unpaid_5star_per = str(round(((unpaid_5star_reviews_count / unpaid_reviews_count)*100),1)) + '%'
unpaid_5star_per

'51.8%'

In [36]:
index = ['Total Reviews', '5 Star Reviews', '5 Star %']
review_analysis = pd.DataFrame(columns=['Paid Reviews', 'Unpaid Reviews'], index=index)

In [37]:
review_analysis['Paid Reviews'] = [paid_reviews_count, paid_5star_reviews_count, paid_5star_per]
review_analysis['Unpaid Reviews'] = [unpaid_reviews_count, unpaid_5star_reviews_count, unpaid_5star_per]

In [38]:
review_analysis

               Paid Reviews Unpaid Reviews
Total Reviews            47           8362
5 Star Reviews           15           4332
5 Star %              31.9%          51.8%